<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitOSA.WallReinforcer.Properties.WallReinforcer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RevitOSA.WallReinforcer.Properties.Docs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RevitOSA.WallReinforcer.Properties.Reinforcement" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevitOSA.WallReinforcer.Properties.WallReinforcer>
            <setting name="container_PartitionName" serializeAs="String">
                <value />
            </setting>
            <setting name="container_TypeName" serializeAs="String">
                <value />
            </setting>
            <setting name="container_KeepSourceRebars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reinf_Tranfer_Rebars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_RebarsInParts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_RebarContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_ARs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_AIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_CIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="container_Mark" serializeAs="String">
                <value />
            </setting>
            <setting name="container_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="ci_Step" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ci_Family_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ci_SmallWallAccuracy" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ci_ConcreteCatchAccuracy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ci_BottomAlign" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="reinf_Voids_X_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Voids_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Voids_X_Step" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Voids_Y_Step" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Voids_X_N" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reinf_Voids_Y_N" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reinf_RClass" serializeAs="String">
                <value>A500</value>
            </setting>
            <setting name="reinf_Studs_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Stirrup_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Beams_Stirrup_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Walls_X_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Walls_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Stirrup_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Beam_Stirrup_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Walls_X_Bottom_CenterAlign" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Walls_RebarCover_Edge" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="reinf_Columns_Y_Edge_CenterAlign" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Studs_Step" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="reinf_Walls_X_Center_PreCenterAlign" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="reinf_Walls_Y_Edge_Step" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="reinf_Walls_Y_Edge_CenterAlign" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="reinf_Walls_Y_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Walls_X_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Columns_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Y_N" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="catchAccuracy" serializeAs="String">
                <value>50</value>
            </setting>
        </RevitOSA.WallReinforcer.Properties.WallReinforcer>
        <RevitOSA.WallReinforcer.Properties.Docs>
            <setting name="user_Surname" serializeAs="String">
                <value />
            </setting>
            <setting name="structureTab_Switch_Position" serializeAs="String">
                <value />
            </setting>
            <setting name="TransferFile_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="printSettings_ColorDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="families_stuctClass_AddStandardParametersFor"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="families_stuctClass_DeterminateAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Walls_WorksetName" serializeAs="String">
                <value>02_Армирование_Стены и колонны</value>
            </setting>
            <setting name="reinf_FoundationAnchors_WorksetName" serializeAs="String">
                <value>02_Армирование_Фундаменты_Выпуски</value>
            </setting>
            <setting name="reinf_SlabAnchors_WorksetName" serializeAs="String">
                <value>02_Армирование_Плиты и балки_Выпуски</value>
            </setting>
        </RevitOSA.WallReinforcer.Properties.Docs>
        <RevitOSA.WallReinforcer.Properties.Reinforcement>
            <setting name="container_PartitionName" serializeAs="String">
                <value />
            </setting>
            <setting name="container_TypeName" serializeAs="String">
                <value />
            </setting>
            <setting name="container_KeepSourceRebars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reinf_Tranfer_Rebars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_RebarsInParts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_RebarContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_ARs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_AIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reinf_Tranfer_CIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="container_Mark" serializeAs="String">
                <value />
            </setting>
            <setting name="container_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="ci_Step" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ci_Family_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ci_SmallWallAccuracy" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ci_ConcreteCatchAccuracy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ci_BottomAlign" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="reinf_Voids_X_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Voids_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Voids_X_Step" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Voids_Y_Step" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Voids_X_N" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reinf_Voids_Y_N" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reinf_RClass" serializeAs="String">
                <value>A500</value>
            </setting>
            <setting name="reinf_Studs_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Stirrup_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Beams_Stirrup_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Walls_X_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Walls_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Stirrup_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Beam_Stirrup_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Walls_X_Bottom_CenterAlign" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_RebarCover_Edge" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="reinf_Columns_Y_Edge_CenterAlign" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Studs_Step" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="reinf_Walls_X_Center_PreCenterAlign" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="reinf_Walls_Y_Edge_Step" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="reinf_Walls_Y_Edge_CenterAlign" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="reinf_Walls_Y_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Walls_X_Step" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="reinf_Columns_Y_Type_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="reinf_Columns_Y_N" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="catchAccuracy" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reinf_Shape_Stirrup_IntId" serializeAs="String">
                <value>-1</value>
            </setting>
        </RevitOSA.WallReinforcer.Properties.Reinforcement>
    </userSettings>
</configuration>